---
layout: default
---
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h1><b>PHOTOLIO</b></h1>
  <p><b>This is where i post my photos.</b></p>
  <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p>
</div>
</div>


<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff43ba42c82.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff43d2a1fa4.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff44265da6d.jpg" style="width:100%">
  </div>
</div>

<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff442f794f0.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff443073abc.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff443c30b19.jpg" style="width:100%">
  </div>
</div>

<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff443f2c430.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff444584e5a.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff444c3db39.jpg" style="width:100%">
  </div>
</div>

<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff444db0a66.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff444f77da2.jpg" style="width:100%">
  </div>
  <div class="w3-third">
    <img src="https://i.loli.net/2018/11/29/5bff4450a87e3.jpg" style="width:100%">
  </div>
</div>

<script>
// Toggle grid padding
function myFunction() {
    var x = document.getElementById("myGrid");
    if (x.className === "w3-row") {
        x.className = "w3-row-padding";
    } else {
        x.className = x.className.replace("w3-row-padding", "w3-row");
    }
}

</script>

</body>
</html>
