---
layout: default
---
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h1><b>PHOTOLIO</b></h1>
  <p><b>This is where i post my photos.</b></p>
  <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p>
</div>
</div>


<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="/assets/img/photo/s1.jpg" style="width:100%">
    <img src="/assets/img/photo/s2.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="/assets/img/photo/s3.jpg" style="width:100%">
    <img src="/assets/img/photo/s4.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="/assets/img/photo/s5.jpg" style="width:100%">
    <img src="/assets/img/photo/s6.jpg" style="width:100%">
  </div>
</div>

<script>
// Toggle grid padding
function myFunction() {
    var x = document.getElementById("myGrid");
    if (x.className === "w3-row") {
        x.className = "w3-row-padding";
    } else {
        x.className = x.className.replace("w3-row-padding", "w3-row");
    }
}

</script>

</body>
</html>
